header{
   background-color:purple;
  height: 50px;
  display:flex;
  align-items: center;
}
 button{
  background-color:cyan;
   height: 30px;
   width: 180px;
   margin:10px;
}
.longer{
  width: 220px;
}
.content{
  display: flex;
}
main{
  background-color:yellow;
  height: 500px;
  flex-grow:4;
}
aside{
  background-color:lime;
  height: 500px;
  flex-grow:1;
}